@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-grey: #272727;
  --green: #00524e;
  --red: #da3036;
  --smoked-white: #f8f1ec;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 85%;
}

@media screen and (min-width: 1440px) {
  body {
    font-size: 19px;
  }

  .container {
    max-width: 1800px;
    padding-inline: 8%;
  }
}


/* ============================================== */
/* =================== Navbar =================== */
.navbar {
  margin-top: 1%;
  padding: 1%;
  box-sizing: border-box;
  width: calc(100% - 2%); /* Account for left and right margins */
  left: 0;
  right: 0;
  margin-inline: auto;
  border-radius: 20px;
}

.navbar.-translate-y-full {
  margin-top: 0;
}

.navbar-main-wrapper {
  z-index: 16;
  background-color: #272727;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 1.45em;
  padding-bottom: 1.45em;

  position: fixed;
  overflow: hidden;
  bottom: 100%;
  right: 0;
  transition: all .3s;
  display: flex;
  color: white;
  padding-top: 80px;
}

.navbar-main-wrapper.show {
  bottom: 0;
}


.navlinks {
  gap: 3em;
}

.navlinks a {
  font-size: 2em;
}

.at-top .navlink-text-2 {
  color: white
}

.about.at-top .navlink-text-2,
.contact.at-top .navlink-text-2 {
  color: black
}

.navlink-text-2 {
  margin-top: 7px;
  font-size: 55px;
  line-height: 150%;
}

.navbar-main-wrappe .navlink-text-2 {
  margin-top: unset;
  color: #f8f1ec;
}

.cta.nav {
  padding: .433333em 1.72222em;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 177.778%;
  margin-right: 18px;
}

.hamburger {
  padding: 18px 12px;
}

.dark-grey {
  background-color: var(--dark-grey);
}

footer {
  padding: 40px 0% 30px;

  margin-top: -42vh;
  position: relative;
  z-index: 10;

}

footer.contact,
footer.about {
  margin-top: unset;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 120px 0% 30px;
    margin-top: -39vh;
  }

  footer.container,
  footer.about {
    margin-top: unset;
  }
}

@media screen and (min-width: 1440px) {
  footer {
    padding: 120px 0% 30px;
    margin-top: -29vh;
  }

  footer.container,
  footer.about {
    margin-top: unset;
  }
}

footer .container {
  position: relative;
}

footer .wrapper {
  position: relative;
  z-index: 1;
}

.wrapper-footer-top {
  gap: 16px;
  display: grid;
  margin-bottom: 230px;
}

h1.wrapper-footer-middle {
  font-size: clamp(24px, 9vw, 137.5px);
  line-height: 1.1;
  margin-bottom: 42px;
}

.wrapper-footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}



.cta.transparent.circle {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 3.8em;
  padding-left: 0;
  padding-right: 0;
  line-height: 20px;
  display: flex;
}


.cta.transparent {
  border: 1px solid var(--smoked-white);
  color: #f8f1ec;
  background-color: #0000;
}

.footer-link {
  margin-left: 1em;
  line-height: 1.3;
  font-weight: 500;
}


.red {
  background-color: var(--red);
}

.circle-big.red {
  z-index: 0;
  border-radius: 999px;
  width: 287px;
  height: 287px;
  inset: 20% 0% 0%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

.wrapper-footer-ctas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  height: fit-content;
}

@media screen and (min-width: 768px) {
  .wrapper-footer-bottom {
    justify-content: flex-start;
    gap: 16px;
  }

  .circle-big.red {
    z-index: 0;
    border-radius: 999px;
    width: 450px;
    height: 450px;
    inset: 5% 0% 0%;
  }

  .wrapper-footer-top {
    display: flex;
    justify-content: space-between;
  }
}

h1 {
  line-height: 1;
}

.home h1,
.about h1 {
  font-size: clamp(3.1em, 7vw, 8em);
  font-weight: medium;
  margin-bottom: 10px;
  font-weight: 400;
  letter-spacing: -2px;
}

.home h1,
.layout-contact h1 {
  padding-top: 2.8%;
}

/* ============================================== */
/* =================== Homepage =================== */

/* Hero Section */

.section-hero.home {
  background: linear-gradient(0deg, var(--red), 42%, #001e3fe3 100%);
  background-color: var(--green);
}

.section-hero {
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 5% 40px;
}

.pageWidth {
  width: 84%;
  margin: auto;
  position: relative;
}

.productsBoxItem {
  border-radius: 20px;
  background-image: url(https://images.unsplash.com/photo-1645811791231-279658fb46dc?q=80&w=538&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  position: relative;
  height: 60vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .productsBoxItem {
    height: 29vw;
  }
}

.productsBoxItem:nth-child(2) {
  background-image: url(https://images.unsplash.com/photo-1611606063065-ee7946f0787a?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.productsBoxItem:nth-child(3) {
  background-image: url(https://images.unsplash.com/photo-1627549263593-5c537b83673e?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.productsBoxItemSmall {
  margin-top: 39vw;

  position: relative;
  z-index: 15;
  opacity: 1;
  left: 0;
  transition: all 0.3s ease;
}

@media screen and (min-width: 1024px) {
  .productsBoxItemSmall {
    margin-top: 18vw;
  }
}

.productsBoxItemSmall h4 {
  font-family: Inter, sans-serif;
  text-transform: none;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.productsBoxItem:before {
  content: '';
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background: linear-gradient(0deg, rgba(0, 30, 63, 0.7) 0%, rgba(0, 30, 63, 0) 50%, rgba(255, 255, 255, 0) 100%);
  transition: opacity 0.3s ease;
  border-radius: 20px;
}

.description {
  font-size: clamp(13px, 2vw, 24px);
}

@media screen and (min-width: 768px) {
  .home .hero-bottom h1 {
    width: 35%;
  }

  .hero-bottom .description {
    width: 55%;
  }
}

@media screen and (min-width: 1024px) {
  .section-hero {
    padding: 100px 40px 40px;
  }

  .hero-bottom .description {
    width: 45%;
  }
}

/* ============================================== */
/* =================== About =================== */
.section-hero.about {
  justify-content: flex-end;
  background-color: var(--smoked-white);
  color: var(--dark-grey);
}

.small-text {
  color: rgb(39, 39, 39);
  opacity: 0.4;
  margin-bottom: 10px;
}

/* Team */

.services,
.team {
  padding-block: 12vh;
}

h2 {
  font-size: clamp(2.8em, 7vw, 5.8em);
  line-height: 1.1;
  font-weight: 500;
}

.team .subtitle {
  font-size: clamp(16px, 2vw, 1.8em);
  padding-bottom: 40px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 6px;
}

.team-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-item img {
  box-sizing: border-box;
  color: #2c3652;
  object-fit: cover;
  -moz-text-size-adjust: 100%;
  border-radius: 50%;
  height: 110px;
  font-family: Public Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 110px;
  width: 110px;
}


.smoked-white {
  background-color: var(--smoked-white);
}


/* ============================================== */
/* =================== Contact =================== */
.section-hero.layout-contact {
  justify-content: unset;
  background-color: var(--smoked-white);
  color: var(--dark-gey);
  min-height: 70vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.layout-contact .small-text {
  margin: 48px 0 15px;
  color: #000000;
}

.cta {
  background-color: #0a0a0a;
  color: white;
  padding: 20px 13px;
  border-radius: 40px;
  font-size: 16px;
}

form input {
  font-size: clamp(20px, 3.2vw, 24px);
}

.layout-contact h1 {
  font-size: clamp(4em, 7vw, 8em);
  font-weight: 400;
  letter-spacing: -2px;
}

@media screen and (min-width: 768px) {

  .cta {
    font-size: 13px;
    padding: 1.1em 2.2em;
  }
}

@media screen and (min-width: 1024px) {
  .layout-contact h1 {
    font-weight: 500;
  }

  .or-book-a-call {
    justify-content: flex-end;
    gap: 24px;
  }

  .cta {
    padding: 12px 30px;
  }
}
:root {
  --cards: 4;
  --cardHeight: 87vh;
  --cardTopPadding: 1.5em;
  --cardMargin: 4vw;
}

#cards {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), 50vh);
  padding-left: 0;
  display: grid;
}


#card1 {
  --index: 1;
  top: 8vh;
}


#card2 {
  --index: 2;
}


#card3 {
  --index: 3;
}

#card4 {
  --index: 4;
}

#card2,
#card3,
#card4 {
  margin-top: -35vh;
  top: 24vh;
}



@media screen and (max-width: 767px) {

  #card2,
  #card3,
  #card4 {
    margin-top: -35vh;
    top: 22vh;
  }
}

@media screen and (min-width: 768px) {

  #card2,
  #card3,
  #card4 {
    margin-top: -39vh;
    top: 19vh;
  }
}

@media screen and (min-width: 1440px) {

  #card2,
  #card3,
  #card4 {
    margin-top: -33vh;
    top: 25vh;
  }
}

.card {
  position: sticky;
}

#card1 .card-body {
  /* background-color: red; */
  padding: 0;
  box-shadow: unset;
}


#card2 .card-body {
  height: 45vh;
}


#card3 .card-body {
  height: 45vh;
}


#card4 .card-body {
  height: 45vh;
}


.card-body {
  box-sizing: border-box;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}

/* Story Start */
* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.5;
}


img {
  vertical-align: middle;
  max-width: 100%;
  display: inline-block;
}

h2 {
  font-size: 50px;
  background: linear-gradient(to right, #ff6a00, #ee0979);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.inline-block {
  max-width: 100%;
  display: inline-block;
}

.story {
  margin-top: -30vh;
}

.page-wrapper {
  z-index: 0;
  position: relative;
}

.container {
  width: 90vw;
  margin-inline: auto;
}

.margin-bottom-medium {
  margin-bottom: 32px;
}

.paragraph-large {
  letter-spacing: -0.02em;
  font-size: 20px;
}

.section-timeline-heading {
  background-color: #0a0a0a;
}

.padding-vertical-xlarge {
  padding-block: 120px;
}

.timeline-main_heading-wrapper {
  color: #fff;
  text-align: center;
  max-width: 640px;
  margin-inline: auto;
}

.timeline_component {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 1120px;
  margin-inline: auto;
  position: relative;
  display: flex;
}

.timeline_item {
  z-index: 2;
  grid-column-gap: 0;
  grid-row-gap: 0;
  grid-template-rows: auto;
  grid-template-columns: 1fr 180px 1fr;
  grid-auto-columns: 1fr;
  padding-block: 80px;
  display: grid;
  position: relative;
}


.timeline_left {
  text-align: right;
  justify-content: flex-end;
  align-items: stretch;
}

.timeline_center {
  justify-content: center;
  display: flex;
}

.timeline_date-text {
  color: #fff;
  letter-spacing: -0.03em;
  font-size: 48px;
  font-weight: 500;
  line-height: 1.2;
  position: sticky;
  top: 50vh;
}

.timeline_text {
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3;
}

.timeline_circle {
  background-color: white;
  border-radius: 100%;
  width: 15px;
  min-width: 15px;
  max-width: 15px;
  height: 15px;
  min-height: 15px;
  max-height: 15px;
  position: sticky;
  top: 50vh;
  box-shadow: 0 0 0 8px #0a0a0a;
}

.timeline_progress {
  z-index: -2;
  background-color: #414141;
  width: 3px;
  height: 100%;
  position: absolute;
}

.timeline_progress-bar {
  z-index: -1;
  background: linear-gradient(to bottom, #ff6a00, #ee0979);
  width: 3px;
  /* height: 50vh; */
  /* position: fixed; */
  inset: 0 auto 50vh;
}

.fixed {
  position: fixed;
}

.h-50vh {
  height: 50vh;
}

.section-timeline {
  z-index: -3;
  background-color: #0a0a0a;
  position: relative;
}

.margin-bottom-xlarge {
  margin-bottom: 56px;
}

.timeline_link {
  opacity: 0.6;
  color: #fff;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  border-radius: 8px;
  align-items: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.3;
  text-decoration: none;
  transition: opacity 0.3s;
  display: flex;
}

.timeline_link:hover {
  opacity: 1;
}

.link-icon {
  width: 20px;
  height: 20px;
  margin-left: 8px;
}

.inline-block {
  display: inline-block;
}

.text-color-lightgrey {
  color: #ffffffa6;
}

.overlay-fade-top {
  background-image: linear-gradient(#0a0a0a, #0a0a0a00);
  height: 80px;
  position: absolute;
  inset: 0% 0% auto;
}

/* .overlay-fade-bottom {
  background-image: linear-gradient(to top, #0a0a0a, #0a0a0a00);
  height: 80px;
  position: absolute;
  inset: auto 0% 0%;
} */

@media (max-width: 767px) {
  h2 {
    font-size: 40px;
  }

  .paragraph-large {
    font-size: 18px;
  }

  .padding-vertical-xlarge {
    padding-block: 80px;
  }

  .timeline_item {
    grid-template-columns: 64px 1fr;
    width: 100%;
  }

  .timeline_left {
    text-align: left;
    grid-area: 1 / 2 / 2 / 3;
  }

  .timeline_center {
    justify-content: flex-start;
    grid-area: 1 / 1 / 3 / 2;
  }

  .timeline_right {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  .timeline_date-text {
    margin-bottom: 24px;
    font-size: 36px;
  }

  .timeline_text {
    font-size: 20px;
  }

  .timeline_progress {
    left: 6px;
  }

  .margin-bottom-xlarge {
    margin-bottom: 48px;
  }
}

/* Story End */