@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-grey: #272727;
  --green: #00524e;
  --red: #da3036;
  --smoked-white: #f8f1ec;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.0vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  width: 85%;
}

@media screen and (min-width: 1440px) {
  body {
    font-size: 19px;
  }

  .container {
    max-width: 1800px;
    padding-inline: 8%;
  }
}


/* ============================================== */
/* =================== Navbar =================== */
.navbar {
  margin-top: 1%;
  padding: 1%;
  box-sizing: border-box;
  width: calc(100% - 2%); /* Account for left and right margins */
  left: 0;
  right: 0;
  margin-inline: auto;
  border-radius: 20px;
}

.navbar.-translate-y-full {
  margin-top: 0;
}

.navbar-main-wrapper {
  z-index: 4;
  background-color: #272727;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 1.45em;
  padding-bottom: 1.45em;

  position: fixed;
  overflow: hidden;
  bottom: 100%;
  right: 0;
  transition: all .3s;
  display: flex;
  color: white;
  padding-top: 80px;
}

.navbar-main-wrapper.show {
  bottom: 0;
}


.navlinks {
  gap: 3em;
}

.navlinks a {
  font-size: 2em;
}

.at-top .navlink-text-2 {
  color: white
}

.about.at-top .navlink-text-2, .contact.at-top .navlink-text-2 {
  color: black
}

.navlink-text-2 {
  margin-top: 7px;
  font-size: 55px;
  line-height: 150%;
}

.navbar-main-wrappe .navlink-text-2 {
  margin-top: unset;
  color: #f8f1ec;
}

.cta.nav {
  padding: .433333em 1.72222em;
  font-size: 1.5em;
  font-weight: 400;
  line-height: 177.778%;
  margin-right: 18px;
}

.hamburger {
  padding: 18px 12px;
}

.dark-grey {
  background-color: var(--dark-grey);
}

footer {
  padding: 40px 0% 30px;
}

footer {
  margin-top: -30vh;
}

footer.contact,
footer.about {
  margin-top: unset;
}

@media screen and (min-width: 768px) {
  footer {
    padding: 120px 0% 30px;
    margin-top: -39vh;
  }

  footer.container,
  footer.about {
    margin-top: unset;
  }
}

@media screen and (min-width: 1440px) {
  footer {
    padding: 120px 0% 30px;
    margin-top: -29vh;
  }

  footer.container,
  footer.about {
    margin-top: unset;
  }
}

footer .container {
  padding-inline: 8%;
  position: relative;
}

footer .wrapper {
  position: relative;
  z-index: 1;
}

.wrapper-footer-top {
  gap: 16px;
  display: grid;
  margin-bottom: 230px;
}

h1.wrapper-footer-middle {
  font-size: clamp(24px, 9vw, 137.5px);
  line-height: 1.1;
  margin-bottom: 42px;
}

.wrapper-footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}



.cta.transparent.circle {
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 3.8em;
  padding-left: 0;
  padding-right: 0;
  line-height: 20px;
  display: flex;
}


.cta.transparent {
  border: 1px solid var(--smoked-white);
  color: #f8f1ec;
  background-color: #0000;
}

.footer-link {
  margin-left: 1em;
  line-height: 1.3;
  font-weight: 500;
}


.red {
  background-color: var(--red);
}

.circle-big.red {
  z-index: 0;
  border-radius: 999px;
  width: 287px;
  height: 287px;
  inset: 20% 0% 0%;
  margin-left: auto;
  margin-right: auto;
  position: absolute;
}

.wrapper-footer-ctas {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  height: fit-content;
}

@media screen and (min-width: 768px) {
  .wrapper-footer-bottom {
    justify-content: flex-start;
    gap: 16px;
  }

  .circle-big.red {
    z-index: 0;
    border-radius: 999px;
    width: 450px;
    height: 450px;
    inset: 5% 0% 0%;
  }

  .wrapper-footer-top {
    display: flex;
    justify-content: space-between;
  }
}

h1 {
  line-height: 1;
}

.home h1,
.about h1 {
  font-size: clamp(3.1em, 7vw, 8em);
  font-weight: medium;
  margin-bottom: 10px;
  font-weight: 400;
  letter-spacing: -2px;
}

.home h1,
.layout-contact h1 {
  padding-top: 2.8%;
}

/* ============================================== */
/* =================== Homepage =================== */

/* Hero Section */

.section-hero.home {
  background: linear-gradient(0deg, var(--red), 42%, #001e3fe3 100%);
}

.section-hero {
  background-color: var(--green);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 5% 40px;
}

.pageWidth {
  width: 84%;
  margin: auto;
  position: relative;
}

.productsBoxItem {
  border-radius: 20px;
  background-image: url(https://images.unsplash.com/photo-1645811791231-279658fb46dc?q=80&w=538&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
  background-size: cover;
  background-position: center;
  position: relative;
  height: 60vw;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media  screen and (min-width: 1024px) {
  .productsBoxItem {
    height: 29vw;
  }
}

.productsBoxItem:nth-child(2) {
  background-image: url(https://images.unsplash.com/photo-1611606063065-ee7946f0787a?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.productsBoxItem:nth-child(3) {
  background-image: url(https://images.unsplash.com/photo-1627549263593-5c537b83673e?q=80&w=1074&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
}

.productsBoxItemSmall {
  margin-top: 39vw;

  position: relative;
  z-index: 20;
  opacity: 1;
  left: 0;
  transition: all 0.3s ease;
}

@media screen and (min-width: 1024px) {
  .productsBoxItemSmall {
    margin-top: 18vw;
  }
}

.productsBoxItemSmall h4 {
  font-family: Inter, sans-serif;
  text-transform: none;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  color: #fff;
}

.productsBoxItem:before {
  content: '';
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 1;
  background: linear-gradient(0deg, rgba(0, 30, 63, 0.7) 0%, rgba(0, 30, 63, 0) 50%, rgba(255, 255, 255, 0) 100%);
  transition: opacity 0.3s ease;
  border-radius: 20px;
}


/* ============================================== */
/* =================== About =================== */
.section-hero.about {
  justify-content: flex-end;
  background-color: var(--smoked-white);
  color: var(--dark-grey);
}

.small-text {
  color: rgb(39, 39, 39);
  opacity: 0.4;
  margin-bottom: 10px;
}

/* Team */

.services,
.team {
  padding-block: 12vh;
}

h2 {
  font-size: clamp(2.8em, 7vw, 5.8em);
  line-height: 1.1;
  font-weight: 500;
}

.team .subtitle {
  font-size: clamp(16px, 2vw, 1.8em);
  padding-bottom: 40px;
}

.team-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-item img {
  box-sizing: border-box;
  color: #2c3652;
  object-fit: cover;
  -moz-text-size-adjust: 100%;
  border-radius: 50%;
  height: 110px;
  font-family: Public Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 110px;
  width: 110px;
}


.smoked-white {
  background-color: var(--smoked-white);
}


/* ============================================== */
/* =================== Contact =================== */
.section-hero.layout-contact {
  justify-content: unset;
  background-color: var(--smoked-white);
  color: var(--dark-gey);
  min-height: 70vh;
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: 16px;

}

.layout-contact .small-text {
  margin: 48px 0 15px;
  color: #000000;
}

.cta {
  background-color: #0a0a0a;
  color: white;
  padding: 20px 13px;
  border-radius: 40px;
  font-size: 16px;
}

form input {
  font-size: clamp(20px, 3.2vw, 24px);
}

.layout-contact h1 {
  font-size: clamp(4em, 7vw, 8em);
  font-weight: 400;
  letter-spacing: -2px;
}

@media screen and (min-width: 768px) {

  .cta {
    font-size: 13px;
    padding: 1.1em 2.2em;
  }
}

@media screen and (min-width: 1024px) {
  .layout-contact h1 {
    font-weight: 500;
  }

  .or-book-a-call {
    justify-content: flex-end;
    gap: 24px;
  }

  .cta {
    padding: 12px 30px;
  }
}
:root {
  --cards: 4;
  --cardHeight: 87vh;
  --cardTopPadding: 1.5em;
  --cardMargin: 4vw;
}

#cards {
  grid-template-columns: 1fr;
  grid-template-rows: repeat(var(--cards), 50vh);
  padding-left: 0;
  display: grid;
}


#card1 {
  --index: 1;
  top: 8vh;
}


#card2 {
  --index: 2;
}


#card3 {
  --index: 3;
}

#card4 {
  --index: 4;
}

#card2,
#card3,
#card4 {
  margin-top: -35vh;
  top: 24vh;
}



@media screen and (max-width: 767px) {

  #card2,
  #card3,
  #card4 {
    margin-top: -44vh;
    top: 14vh;
  }
}

@media screen and (min-width: 768px) {

  #card2,
  #card3,
  #card4 {
    margin-top: -39vh;
    top: 19vh;
  }
}

@media screen and (min-width: 1440px) {

  #card2,
  #card3,
  #card4 {
    margin-top: -33vh;
    top: 25vh;
  }
}

.card {
  position: sticky;
}

#card1 .card-body {
  /* background-color: red; */
  padding: 0;
  box-shadow: unset;
}


#card2 .card-body {
  height: 45vh;
}


#card3 .card-body {
  height: 45vh;
}


#card4 .card-body {
  height: 45vh;
}


.card-body {
  box-sizing: border-box;
  padding: 30px;
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}