@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-grey: #272727;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 1.0vw; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding-inline: 15px;
}


/* ============================================== */
/* =================== Navbar =================== */
.navbar {
  z-index: 2000;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 1%;
  transition: background-color .3s cubic-bezier(.165, .84, .44, 1);
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
}

.navbar-main-wrapper {
  z-index: 4;
  background-color: #272727;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 1.45em;
  padding-bottom: 1.45em;

  position: fixed;
  /* inset: 0%; */

  overflow: hidden;
  bottom: 100%;
  right: 0;
  transition: all .3s;
  display: flex;
  color: white;
  padding-top: 80px;
}

.navbar-main-wrapper.show {
  bottom: 0;
}

.navlink-text-2 {
  color: #f8f1ec;
  font-size: 55px;
  line-height: 150%;
}