@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --dark-grey: #272727;
  --green: #00524e;
  --smoked-white: #f8f1ec;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 1.0vw; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  padding-inline: 15px;
}


/* ============================================== */
/* =================== Navbar =================== */
.navbar {
  z-index: 2000;
  border-radius: 20px;
  justify-content: space-between;
  align-items: center;
  margin-top: 1%;
  margin-left: 1%;
  margin-right: 1%;
  padding: 1%;
  transition: background-color .3s cubic-bezier(.165, .84, .44, 1);
  display: flex;
  position: fixed;
  inset: 0% 0% auto;
}

.navbar-main-wrapper {
  z-index: 4;
  background-color: #272727;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-top: 1.45em;
  padding-bottom: 1.45em;

  position: fixed;
  /* inset: 0%; */

  overflow: hidden;
  bottom: 100%;
  right: 0;
  transition: all .3s;
  display: flex;
  color: white;
  padding-top: 80px;
}

.navbar-main-wrapper.show {
  bottom: 0;
}

.navlink-text-2 {
  color: #f8f1ec;
  font-size: 55px;
  line-height: 150%;
}

.dark-grey {
  background-color: var(--dark-grey);
}

h1 {
  line-height: 1;
}

.home h1, .about h1  {
  font-size: 50px;
  font-weight: medium;
  margin-bottom: 10px;
}

/* ============================================== */
/* =================== Homepage =================== */

/* Hero Section */
.section-hero {
  background-color: var(--green);
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 100px 5% 40px;
}



/* ============================================== */
/* =================== About =================== */
.section-hero.about {
  justify-content: flex-end;
  background-color: var(--smoked-white);
  color: var(--dark-grey);
}

.small-text {
  color: rgb(39, 39, 39);
  opacity: 0.4;
  margin-bottom: 10px;
}

.team-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-item img {
  box-sizing: border-box;
  color: #2c3652;
  object-fit: cover;
  -moz-text-size-adjust: 100%;
  border-radius: 50%;
  height: 110px;
  font-family: Public Sans, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 110px;
  width: 110px;
}


.smoked-white {
  background-color: var(--smoked-white);
}


/* ============================================== */
/* =================== Contact =================== */
.section-hero.layout-contact {
  justify-content: unset;
  background-color: var(--smoked-white);
  color: var(--dark-gey);
}

.layout-contact .small-text {
  margin: 48px 0 15px;
  color: #000000;
}

.cta {
  background-color: #0a0a0a;
  color: white;
  padding: 20px 13px;
  border-radius: 40px;
}

form input {
  font-size: 20px;
}